<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Testimonial</h5>
            <h1 class="mb-0">What Our Clients Say About Our Digital Services</h1>
        </div>
        <div class=" wow fadeInUp" data-wow-delay="0.6s">
            <owl-carousel-o [options]="personOption">
                <ng-template carouselSlide>
                    <div class="testimonial-carousel bg-light my-4">
                        <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                            <img class="img-fluid rounded" src="assets/img/testimonial-1.jpg"
                                style="width: 60px; height: 60px;">
                            <div class="ps-4">
                                <h4 class="text-primary mb-1">Client Name</h4>
                                <small class="text-uppercase">Profession</small>
                            </div>
                        </div>
                        <div class="pt-4 pb-5 px-5">
                            The pain and the labor, let it be just, but it is but. I am sorry, but the pain will stop,
                            so I will
                            make them work hard
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-item bg-light my-4">
                        <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                            <img class="img-fluid rounded" src="assets/img/testimonial-2.jpg"
                                style="width: 60px; height: 60px;">
                            <div class="ps-4">
                                <h4 class="text-primary mb-1">Client Name</h4>
                                <small class="text-uppercase">Profession</small>
                            </div>
                        </div>
                        <div class="pt-4 pb-5 px-5">
                            The pain and the labor, let it be just, but it is but. I am sorry, but the pain will stop,
                            so I will
                            make them work hard
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-item bg-light my-4">
                        <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                            <img class="img-fluid rounded" src="assets/img/testimonial-3.jpg"
                                style="width: 60px; height: 60px;">
                            <div class="ps-4">
                                <h4 class="text-primary mb-1">Client Name</h4>
                                <small class="text-uppercase">Profession</small>
                            </div>
                        </div>
                        <div class="pt-4 pb-5 px-5">
                            The pain and the labor, let it be just, but it is but. I am sorry, but the pain will stop,
                            so I will
                            make them work hard
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-item bg-light my-4">
                        <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                            <img class="img-fluid rounded" src="assets/img/testimonial-4.jpg"
                                style="width: 60px; height: 60px;">
                            <div class="ps-4">
                                <h4 class="text-primary mb-1">Client Name</h4>
                                <small class="text-uppercase">Profession</small>
                            </div>
                        </div>
                        <div class="pt-4 pb-5 px-5">
                            The pain and the labor, let it be just, but it is but. I am sorry, but the pain will stop,
                            so I will
                            make them work hard
                        </div>
                    </div>
                </ng-template>

            </owl-carousel-o>
        </div>
    </div>
</div>